/.idea/discord.xml
/.idea/rcb-settings.xml
/.idea/vcs.xml
/.idea/workspace.xml

/client/.idea/workspace.xml
/client/.idea/vcs.xml
/client/.idea/discord.xml
/client/.idea/jsLibraryMappings.xml
/client/.idea/misc.xml
/client/.idea/modules.xml
/client/.idea/.gitignore