/.idea/discord.xml
/.idea/rcb-settings.xml
/.idea/vcs.xml
/.idea/workspace.xml

/frontend/.idea/workspace.xml
/frontend/.idea/vcs.xml
/frontend/.idea/discord.xml
/frontend/.idea/jsLibraryMappings.xml
/frontend/.idea/misc.xml
/frontend/.idea/modules.xml
/frontend/.idea/.gitignore